<div fxFlex="50" class="pr-1" style="text-align: center;">    
    <form [formGroup]="searchForm" (ngSubmit)="search()" class="full-width">
        <mat-form-field class="full-width">
            <input matInput type="text" name="cityName" [formControl]="searchForm.controls['cityName']" placeholder="Search By CityName">
        </mat-form-field>
        <button mat-raised-button color="primary">Search</button>
    </form>
</div>

<mat-grid-list cols="5" rowHeight="1:1" *ngIf="gridstatus===true">
    <mat-grid-tile class="data">
        <h3>Weather Report Of {{cityData.name}}</h3>
    </mat-grid-tile>
    <mat-grid-tile class="degree">
        <h3>Today's degree is {{cityData.main.temp - 273.15 }} Celsius</h3>
    </mat-grid-tile>
    <mat-grid-tile class="humidity">
        <h3>Humidity is {{cityData.main.humidity}}</h3>
    </mat-grid-tile>
    <mat-grid-tile class="location">
        <h3>Map Latitude and Longitude are [{{cityData.coord.lat}}, {{cityData.coord.lon}}]</h3>
    </mat-grid-tile>
    <mat-grid-tile class="info">
        <h3>Description of Climate :{{cityData.weather[0].description}}</h3>
    </mat-grid-tile>
</mat-grid-list>
<mat-card *ngIf="gridstatus===false"><h3>{{errorInfo}}</h3></mat-card>