<mat-tab-group>
    <mat-tab label="Search Your faviourate color">
        <div fxFlex="50" class="pr-1" style="text-align: center;">    
            <form [formGroup]="searchForm" (ngSubmit)="search()" class="full-width">
                <mat-form-field class="full-width">
                    <input matInput type="text" name="searchValue" [formControl]="searchForm.controls['searchValue']" placeholder="Search By CityName">
                </mat-form-field>
                <button mat-raised-button color="primary">Search</button>
            </form>
        </div>
        
        <mat-grid-list cols="6" rowHeight="2:1">
            <mat-grid-tile *ngFor="let value of searchData?.hits">
                <img [src]="value?.previewURL">
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Searched Keys"> 
        <div *ngFor="let value of localstoreData">
            <button mat-stroked-button color="primary"  (click)="getPhoto(value)">{{value}}</button><br><br>
        </div>
        <mat-grid-list cols="6" rowHeight="2:1">
            <mat-grid-tile *ngFor="let value of searchedData?.hits">
                <img [src]="value?.previewURL">
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
  </mat-tab-group>